@import "../Index.scss";
.navbar_box {
  width: 100%;
  background-color: $color_gray_2;
  height: 60px;
  position: fixed;
  display: flex;
  justify-content: center;
  z-index: 100;
  opacity: 1;
  transition: 0.2s ease opacity;
}
.navbar_container {
  position: relative;
  display: flex;
  margin: 0 auto;
  // left: 50%;
  // transform: translateX(-50%);
  padding: 1rem 0.2rem 0.2rem 0.2rem;
  li {
    list-style: none;
    margin-right: 15px;
    a {
      text-decoration: none;
      font-family: $font_text;
      font-size: 1.2rem;
      color: $color_white_1;
    }
  }
}
.underline {
  position: absolute;
  width: 55px;
  height: 5px;
  background-color: $color_white_1;
  border-radius: 12px;
  bottom: 5px;
  transition: 0.2s linear all;
  left: 3px;
}
.navbar_box.fade {
  opacity: 0.2;
  transition: 0.2s ease opacity;

  &:hover {
    opacity: 1;
    transition: 0.2s ease opacity;
  }
}
